<hr>
<hr>
<hr>
<div class="container">
<hr>

<div class="card bg-light">
  <article class="card-body mx-auto" style="max-width: 400px;">
    <h4 class="card-title mt-3 text-center">Sign In Account</h4>
    <p>
      <button type="submit" class="btn btn-block btn-twitter"> <i class="fa fa-twitter"></i>   Login via Twitter</button>
      <button type="submit" class="btn btn-block btn-facebook"> <i class="fa fa-facebook-f"></i>   Login via facebook</button>
    </p>
    <p class="divider-text">
      <span class="bg-light">OR</span>
    </p>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
        </div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control" %>
      </div>
      
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        </div>
          <%= f.password_field :password, autocomplete: "current-password", :class => "form-control" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
      <div class="form-group input-group">
        <p class="text-center">Forgot password? <a href="/users/password/new">Click here...</a> </p>
      </div>
      <div class="form-group">
        <%= f.submit "Log in", :class => "btn btn-primary btn-block"%>
      </div>
    <% end %>
    <p class="text-center">Don't Have an account? <a href="<%= new_user_registration_path %>">Sign up here</a> </p>
  </article>
</div>    

<%#= render "devise/shared/links" %>