<div class="container">
  <div class="row">
    <% @food_items.each do |food_item| %>
      <div class="col-md-4 p10" data-aos="slide-up">
        <div class="card view zoom">
            <%= image_tag food_item.avatar.url(:medium), :class => "card-img-top img-fluid " %>
            <div class="card-body">
                <h5 class="card-title">~ <%= food_item.title %> ~</h5>
                <ul class="list-group list-group-flush">
                    <p><%= food_item.likes.count %> <%= (food_item.likes.count) == 1 ? 'Like' : 'Likes'%></p>
                    <% pre_like = food_item.likes.find { |like| like.user_id == current_user.id} %>
                    <% if pre_like %>
                      <%= button_to 'Unlike', food_item_like_path(food_item, pre_like), method: :delete %>
                    <% else %>
                      <li><%= button_to 'Like', food_item_likes_path(food_item), method: :post %></li>
                    <% end %>
                    <li class="list-group-item"><%= food_item.food_type %></li>
                    <li class="list-group-item"><%= food_item.description %></li>
                </ul>
            </div>
        </div>
      </div>
      <br>
    <% end %>
  </div>  
</div>